doctype html
html(lang="es")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title Bogota para todos
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='apple-touch-icon', href='apple-touch-icon.png')
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='css/font-awesome.min.css')
    link(rel='stylesheet', href='css/style.css')
  body
    table.table.table-striped
      thead
        tr
          th ID
          th Opcion
          th Valor
      tbody
        each option in options
          tr
            td #{option.id}
            td #{option.name}
            td(id="#{option.id}") #{option.count}
    .icon-container.has-feedback
      .number-container.number1
        .number 01
      .img-container
        img( class="img-responsive" src="http://d1q7w1k8zlumh6.cloudfront.net/filbo/1.svg", 
          alt="")
      .circle.outer
        .circle.inner
    .icon-container.has-feedback
      .number-container.number2
        .number 02
      .circle.outer
        .circle.inner
      .img-container
        img( class="img-responsive" src="http://d1q7w1k8zlumh6.cloudfront.net/filbo/2.svg", 
          alt="")
    .icon-container.has-feedback
      .number-container.number3
        .number 03
      .circle.outer
        .circle.inner
      .img-container
        img( class="img-responsive" src="http://d1q7w1k8zlumh6.cloudfront.net/filbo/3.svg", 
          alt="")
    .icon-container.has-feedback
      .number-container.number4
        .number 04
      .img-container
        img( class="img-responsive" src="http://d1q7w1k8zlumh6.cloudfront.net/filbo/4.svg", 
          alt="")
      .circle.outer
        .circle.inner
    .icon-container.has-feedback
      .number-container.number5
        .number 05
      .circle.outer
        .circle.inner
      .img-container
        img( class="img-responsive" src="http://d1q7w1k8zlumh6.cloudfront.net/filbo/5.svg", 
          alt="")
    .icon-container.has-feedback
      .number-container.number6
        .number 06
      .circle.outer
        .circle.inner
      .img-container
        img( class="img-responsive" src="http://d1q7w1k8zlumh6.cloudfront.net/filbo/6.svg", 
          alt="")
    .icon-container.has-feedback
      .number-container.number7
        .number 07
      .circle.outer
        .circle.inner
      .img-container
        img( class="img-responsive" src="http://d1q7w1k8zlumh6.cloudfront.net/filbo/7.svg", 
          alt="")
    .icon-container.has-feedback
      .number-container.number8
        .number 08
      .circle.outer
        .circle.inner
      .img-container
        img( class="img-responsive" src="http://d1q7w1k8zlumh6.cloudfront.net/filbo/8.svg", 
          alt="")
    .col-xs-12
      video.img-responsive(src="http://d1q7w1k8zlumh6.cloudfront.net/filbo/video1.mp4"  preload="auto" poster="http://d1q7w1k8zlumh6.cloudfront.net/filbo/poster.png" loop autoplay="" )
            source(src="http://d1q7w1k8zlumh6.cloudfront.net/filbo/video1.mp4" type="video/mp4")
            source(src="http://d1q7w1k8zlumh6.cloudfront.net/filbo/video1.webm" type="video/webm")       
    script(src="js/socket.io.js")
    script.
      var socket = io();
      socket.on('update', function(data){
        console.log(data);
        var id = data.option.id;
        var count = data.option.count;
        document.getElementById(id).innerHTML= count;
      });
