doctype html
html(lang="es")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title Bogotá mejor para todos
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='apple-touch-icon', href='apple-touch-icon.png')
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='css/font-awesome.min.css')
    link(rel='stylesheet', href='css/style2.css')
  body
    .container-fluid
      .row
        .col-xs-6.col-xs-offset-3.col-sm-4-col-sm-offset-4.col-md-2.col-md-offset-5
          img.img-responsive.logo(src="https://s3-sa-east-1.amazonaws.com/cannedhead.canned/filbo/bogotamejorparatodos_blanco.svg", alt="Bogotá mejor para todos")
      .row
        h1.text-center 
          | Esta es la Bogotá 
          br
          strong que vamos a construir
      .row
        .col-xs-10.col-xs-offset-1
          p.text-center.hero Haz click y conoce cada uno de los planes que tenemos para Bogotá. 
      .row.hidden#plan-info
        .col-xs-12
          h2#tituloplan Vuelve la vivienda a Bogotá
        .col-xs-7
          ul.col-xs-12.no-padding.flip-counter.default#counter
        .col-xs-5
          button.btn-block.btn-ver-mas(data-toggle="modal" data-target="#myModal" data-id="1")
            span Ver más
        .col-xs-12
          p.subhero 
            | Personas creen en 
            br
            | una Bogotá mejor
      .row
        .col-xs-12#video-container
          video.img-responsive(src="http://d1q7w1k8zlumh6.cloudfront.net/filbo/video1.mp4"  preload="auto" poster="https://s3-sa-east-1.amazonaws.com/cannedhead.canned/filbo/poster.png")
            source(src="http://d1q7w1k8zlumh6.cloudfront.net/filbo/video1.mp4" type="video/mp4")
            source(src="http://d1q7w1k8zlumh6.cloudfront.net/filbo/video1.webm" type="video/webm")  
      .row.icons-wrapper#icons-wrapper
        .col-xs-12
          button.col-xs-3.icon-container.has-feedback
            .number-container.number1.hidden-xs
              .number 01
            .img-container
              img( class="img-responsive" src="http://d1q7w1k8zlumh6.cloudfront.net/filbo/1.svg", 
                alt="")
            .circle.outer
              .circle.inner
          button.col-xs-3.icon-container.has-feedback
            .number-container.number2.hidden-xs
              .number 02
            .circle.outer
              .circle.inner
            .img-container
              img( class="img-responsive" src="http://d1q7w1k8zlumh6.cloudfront.net/filbo/2.svg", 
                alt="")
          button.col-xs-3.icon-container.has-feedback
            .number-container.number3.hidden-xs
              .number 03
            .circle.outer
              .circle.inner
            .img-container
              img( class="img-responsive" src="http://d1q7w1k8zlumh6.cloudfront.net/filbo/3.svg", 
                alt="")
          button.col-xs-3.icon-container.has-feedback
            .number-container.number4.hidden-xs
              .number 04
            .img-container
              img( class="img-responsive" src="http://d1q7w1k8zlumh6.cloudfront.net/filbo/4.svg", 
                alt="")
            .circle.outer
              .circle.inner
          button.col-xs-3.icon-container.has-feedback
            .number-container.number5.hidden-xs
              .number 05
            .circle.outer
              .circle.inner
            .img-container
              img( class="img-responsive" src="http://d1q7w1k8zlumh6.cloudfront.net/filbo/5.svg", 
                alt="")
          button.col-xs-3.icon-container.has-feedback
            .number-container.number6.hidden-xs
              .number 06
            .circle.outer
              .circle.inner
            .img-container
              img( class="img-responsive" src="http://d1q7w1k8zlumh6.cloudfront.net/filbo/6.svg", 
                alt="")
          button.col-xs-3.icon-container.has-feedback
            .number-container.number7.hidden-xs
              .number 07
            .circle.outer
              .circle.inner
            .img-container
              img( class="img-responsive" src="http://d1q7w1k8zlumh6.cloudfront.net/filbo/7.svg", 
                alt="")
          button.col-xs-3.icon-container.has-feedback
            .number-container.number8.hidden-xs
              .number 08
            .circle.outer
              .circle.inner
            .img-container
              img( class="img-responsive" src="http://d1q7w1k8zlumh6.cloudfront.net/filbo/8.svg", 
                alt="")
    footer.footer
      .container
        .col-xs-8
          p.text-muted Comparte la Bogotá que estamos construyendo
        .col-xs-4.no-padding.text-right.redes-sociales
          ul.list-inline
            li
              a(href="http://www.facebook.com/sharer.php?s=100&p[title]=Aca titulo&p[summary]=aca descripcion&p[url]=http://filbo.herokuapp.com&p[images][0]=YOUR_IMAGE_TO_SHARE_OBJECT"
  target="_blank")
                i.fa.fa-facebook-square
            li
              a(href="#")
                i.fa.fa-twitter
            li
              a(href="#")
                i.fa.fa-google-plus
    .modal.fade(id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel")
      .modal-dialog
        .col-xs-12.no-padding.modal-content
          .col-xs-12.modal-header
            button(type="button" class="close" data-dismiss="modal" aria-label="Close")
              span(aria-hidden="true") &times;
            .row  
              .icon-modal-container.has-feedback
                .img-container
                  img.modal-icon( class="img-responsive" src="http://d1q7w1k8zlumh6.cloudfront.net/filbo/1.svg" alt="")
                .circle.outer
                  .circle.inner
            h3.modal-title Vuelve la vivienda a Bogotá
          .col-xs-12.modal-body
            p.modal-hero 6 nuevos hospitales + 40 nuevos Centros de Atención Prioritaria en Salud.
            .video-container
              iframe(src="https://player.vimeo.com/video/163168624?title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)
          .col-xs-12.modal-counter-container
            ul.col-xs-12.no-padding.flip-counter.default#counter2
            p 
              | Personas creen en 
              br
              | una mejor Bogotá.
            .col-xs-8.col-xs-offset-2
              img.img-responsive(src="https://s3-sa-east-1.amazonaws.com/cannedhead.canned/filbo/bogotamejorparatodos_azul.svg", alt="Bogotá mejor para todos")
          .col-xs-12.modal-footer.footer
            .container.no-padding
              .col-xs-7
                p.text-muted Comparte la Bogotá que estamos construyendo
              .col-xs-5.no-padding.text-right.redes-sociales
                ul.list-inline
                  li
                    a(href="http://www.facebook.com/sharer.php?s=100&p[title]=Aca titulo&p[summary]=aca descripcion&p[url]=http://filbo.herokuapp.com&p[images][0]=YOUR_IMAGE_TO_SHARE_OBJECT")
                      i.fa.fa-facebook-square
                  li
                    a(href="#")
                      i.fa.fa-twitter
                  li
                    a(href="#")
                      i.fa.fa-google-plus

    script(src="js/jquery-1.12.3.min.js")
    script(src="js/socket.io.js")
    script(src="js/bootstrap.min.js")
    script(src="js/parallax.min.js")
    script(src="js/flipcounter.js")
    script(src="js/jquery.fitvids.js")
    script(src="js/app.js")
    script.

      var defaults = {
        value: 52678, inc: 1, pace: 500, auto: true
      };

      var counter = new flipCounter('counter', defaults);

      var socket = io();
      socket.on('update', function(data){
        console.log(data);
        var id = data.option.id;
        var count = data.option.count;
        document.getElementById(id).innerHTML= count;
      });
      
