doctype html
html(lang="es")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title Bogotá mejor para todos
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='apple-touch-icon', href='apple-touch-icon.png')
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='css/font-awesome.min.css')
    link(rel='stylesheet', href='css/style2.css')
  body
    .container-fluid.content-first
      .row
        .col-xs-6.col-xs-offset-3.col-sm-4-col-sm-offset-4.col-md-2.col-md-offset-5
          img.img-responsive.logo(src="https://s3-sa-east-1.amazonaws.com/cannedhead.canned/filbo/bogotamejorparatodos_blanco.svg", alt="Bogotá mejor para todos")
      .row.hero-div
        h1.text-center 
          p Esta es la Bogotá
            br
            span que vamos a construir
          p.text-center.hero Haz clic y conoce cada uno de los planes que tenemos para Bogotá. 
      .row.hidden#plan-info
        .col-xs-12
          h2#tituloplan Vuelve la vivienda a Bogotá
        .col-xs-8
          ul.col-xs-12.no-padding.flip-counter.default#counter
        .col-xs-4.no-padding
          button.btn-block.btn-ver-mas(data-toggle="modal" data-target="#myModal" data-id="1")
            span Ver más
        .col-xs-12
          p.subhero 
            | Personas creen en 
            br
            | una Bogotá mejor
      .row
        .col-xs-12#video-container  
      .row.icons-wrapper.buttons-row#icons-wrapper
        .col-xs-12
          button.col-xs-3.icon-container.has-feedback(data-id="0")
            .number-container.number1.hidden-xs.hidden-sm
              .number 01
            .img-container
              img( class="img-responsive" src="http://d1q7w1k8zlumh6.cloudfront.net/filbo/1.svg", 
                alt="")
            .circle.outer
              .circle.inner
          button.col-xs-3.icon-container.has-feedback(data-id="1")
            .number-container.number2.hidden-xs.hidden-sm
              .number 02
            .circle.outer
              .circle.inner
            .img-container
              img( class="img-responsive" src="http://d1q7w1k8zlumh6.cloudfront.net/filbo/2.svg", 
                alt="")
          button.col-xs-3.icon-container.has-feedback(data-id="2")
            .number-container.number3.hidden-xs.hidden-sm
              .number 03
            .circle.outer
              .circle.inner
            .img-container
              img( class="img-responsive" src="http://d1q7w1k8zlumh6.cloudfront.net/filbo/3.svg", 
                alt="")
          button.col-xs-3.icon-container.has-feedback(data-id="3")
            .number-container.number4.hidden-xs.hidden-sm
              .number 04
            .img-container
              img( class="img-responsive" src="http://d1q7w1k8zlumh6.cloudfront.net/filbo/4.svg", 
                alt="")
            .circle.outer
              .circle.inner
          button.col-xs-3.icon-container.has-feedback(data-id="4")
            .number-container.number5.hidden-xs.hidden-sm
              .number 05
            .circle.outer
              .circle.inner
            .img-container
              img( class="img-responsive" src="http://d1q7w1k8zlumh6.cloudfront.net/filbo/5.svg", 
                alt="")
          button.col-xs-3.icon-container.has-feedback(data-id="5")
            .number-container.number6.hidden-xs.hidden-sm
              .number 06
            .circle.outer
              .circle.inner
            .img-container
              img( class="img-responsive" src="http://d1q7w1k8zlumh6.cloudfront.net/filbo/6.svg", 
                alt="")
          button.col-xs-3.icon-container.has-feedback(data-id="6")
            .number-container.number7.hidden-xs.hidden-sm
              .number 07
            .circle.outer
              .circle.inner
            .img-container
              img( class="img-responsive" src="http://d1q7w1k8zlumh6.cloudfront.net/filbo/7.svg", 
                alt="")
          button.col-xs-3.icon-container.has-feedback(data-id="7")
            .number-container.number8.hidden-xs.hidden-sm
              .number 08
            .circle.outer
              .circle.inner
            .img-container
              img( class="img-responsive" src="http://d1q7w1k8zlumh6.cloudfront.net/filbo/8.svg", 
                alt="")
    footer.footer.visible-xs.visible-sm
      .container
        .col-xs-8
          p.text-muted Comparte la Bogotá que estamos construyendo
        .col-xs-4.no-padding.text-right.redes-sociales
          ul.list-inline
            li
              a(href="http://www.facebook.com/sharer.php?s=100&p[title]=Aca titulo&p[summary]=aca descripcion&p[url]=http://filbo.herokuapp.com&p[images][0]=YOUR_IMAGE_TO_SHARE_OBJECT" target="_blank")
                i.fa.fa-facebook-square
            li
              a.twitter-share-button(href="https://twitter.com/intent/tweet?text=Yo%20tuve%20%23ContactoConBogota%20y%20conozco%20las%20oportunidades%20que%20tendr%C3%A1%20%C2%BFy%20t%C3%BA%3F%20bogotamejorparatodos.gov.co%3Fm%3Dmapa%20%23FILBo2016%20pic.twitter.com%2FzCoV6iw4zF" data-size="large" target="_blank")
                i.fa.fa-twitter
            li
              a(href="#")
                i.fa.fa-google-plus
    .modal.fade.no-padding(id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel")
    
        .col-xs-12.col-md-9.no-padding.modal-content
          .col-xs-12.modal-header
            button(type="button" class="close" data-dismiss="modal" aria-label="Close")
              span(aria-hidden="true") &times;
            button.hidden-xs(type="button" class="close-add" data-dismiss="modal" aria-label="Close")
                p Volver al mapa
            .col-xs-12.col-md-3.no-padding
              .icon-modal-container.has-feedback
                .img-container
                  img.modal-icon( class="img-responsive" src="http://d1q7w1k8zlumh6.cloudfront.net/filbo/1.svg" alt="")
                .circle.outer
                  .circle.inner
            .col-xs-12.col-md-9.col-lg-8.no-padding
              h3.modal-title Vuelve la vivienda a Bogotá
              p.modal-hero 6 nuevos hospitales + 40 nuevos Centros de Atención Prioritaria en Salud.
              .video-container.col-xs-12.col-sm-8.col-sm-offset-2.col-md-10.col-md-offset-1.no-padding
                iframe(src="https://player.vimeo.com/video/163168624?title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)
        .col-xs-12.col-md-3.modal-counter-container
          img.img-responsive.cadena1.visible-md.visible-lg(src="https://s3-sa-east-1.amazonaws.com/cannedhead.canned/filbo/cadena.svg", alt="Bogotá mejor para todos") 
          img.img-responsive.cadena2.visible-md.visible-lg(src="https://s3-sa-east-1.amazonaws.com/cannedhead.canned/filbo/cadena.svg", alt="Bogotá mejor para todos")


          img.img-responsive.cadena1small(src="https://s3-sa-east-1.amazonaws.com/cannedhead.canned/filbo/cadena_popup.svg", alt="Bogotá mejor para todos") 
          img.img-responsive.cadena2small(src="https://s3-sa-east-1.amazonaws.com/cannedhead.canned/filbo/cadena_popup.svg", alt="Bogotá mejor para todos")
           
          ul.no-padding.flip-counter.default#counter2
          .col-xs-12
            p 
              | Personas creen en 
              br
              | una mejor Bogotá.
          .col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2.hidden-xs.hidden-sm.share-modal-md.no-padding
          
            .col-xs-7.no-padding.share-compartir
              p.text-muted Compartir
            .col-xs-5.no-padding.text-right.redes-sociales.share-icons
              ul.list-inline
                li
                  a(href="http://www.facebook.com/sharer.php?s=100&p[title]=Aca titulo&p[summary]=aca descripcion&p[url]=http://filbo.herokuapp.com&p[images][0]=YOUR_IMAGE_TO_SHARE_OBJECT")
                    i.fa.fa-facebook-square
                li
                  a(href="#")
                    i.fa.fa-twitter
                li
                  a(href="#")
                    i.fa.fa-google-plus

          .col-xs-10.col-xs-offset-1.col-sm-6.col-sm-offset-3.col-md-11.col-md-offset-0.col-lg-10.col-lg-offset-1.img-modal-bogota
            img.img-responsive(src="https://s3-sa-east-1.amazonaws.com/cannedhead.canned/filbo/bogotamejorparatodos_popup.svg", alt="Bogotá mejor para todos")
          .col-xs-12.modal-footer.footer.visible-xs.visible-sm
            .container.no-padding
              .col-xs-7
                p.text-muted Comparte la Bogotá que estamos construyendo
              .col-xs-5.no-padding.text-right.redes-sociales
                ul.list-inline
                  li
                    a(href="http://www.facebook.com/sharer.php?s=100&p[title]=Aca titulo&p[summary]=aca descripcion&p[url]=http://filbo.herokuapp.com&p[images][0]=YOUR_IMAGE_TO_SHARE_OBJECT")
                      i.fa.fa-facebook-square
                  li
                    a(href="#" data-size="large" target="_blank").twitter-share-button#twittershare
                      i.fa.fa-twitter
                  li
                    a(href="#")
                      i.fa.fa-google-plus

    script(src="js/jquery-1.12.3.min.js")
    script(src="js/socket.io.js")
    script(src="js/bootstrap.min.js")
    script(src="js/parallax.min.js")
    script(src="js/flipCounter.js")
    script(src="js/jquery.fitvids.js")
    script(src="js/app.js")
    script.

      var defaults = {
        value: 52678, inc: 123, pace: 1000, auto: true
      };

      var counter = new flipCounter('counter', defaults);

      var socket = io();
      socket.on('update', function(data){
        console.log(data);
        var id = data.option.id;
        var count = data.option.count;
        document.getElementById(id).innerHTML= count;
      });
      
